<div class="show-mobile">
  <div>
    <button (click)="toggleMenu()">
      <img src="./assets/svg/icon_menu.svg" alt="menu">
    </button>
    <a routerLink="home">
      <img src="./assets/images/logo.png" width="50" alt="logo">
    </a>
    <div class="cart">
      <a href="">
        <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
      </a>
      <span class="counter">{{ counter }}</span>
    </div>

  </div>
  <div class="side-menu" [class.active]="activeMenu">
    <ul class="flex flex-col justify-center align-middle">
      <li class="w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50">
        <a routerLink="home" (click)="toggleMenu()">
          <img src="./assets/images/logo.png" width="50" alt="logo">
        </a>
      </li>
      <li class="w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50">
        <button (click)="toggleMenu()">Close</button>
      </li>
      <li class="w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50">
        <a routerLink="home" (click)="toggleMenu()">
          quiero adoptar
        </a>
      </li>
      <li class="w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50">
        <a routerLink="home" (click)="toggleMenu()">
          Quiero dar en adopcion
        </a>
      </li>
      <li class="w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50">
        <a routerLink="home" (click)="toggleMenu()">
          Contacto
        </a>
      </li>
      <li class="w-full border-b-2 border-neutral-100 border-opacity-100 py-4 dark:border-opacity-50">
        <a routerLink="home" (click)="toggleMenu()">
          Preguntas frecuentes
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" routerLink="home">
        <img src="./assets/images/logo.png" width="50" alt="logo">
      </a>
      <ul>
<!--         <li><a routerLinkActive="active" routerLink="home">All</a></li>
        <li *ngFor="let item of categories">
          <a routerLinkActive="active" [routerLink]="['/category', item.id]">{{ item.name }}</a>
        </li> -->
        <li class="no-underline hover:underline decoration-[#FFB344] decoration-2">
          <a routerLinkActive="active" routerLink="home">
            adoptar
          </a>
        </li>
        <li class="no-underline hover:underline decoration-[#FFB344] decoration-2">
          <a routerLinkActive="active" routerLink="form-info">
            Dar adopcion
          </a>
        </li>
        <li class="no-underline hover:underline decoration-[#FFB344] decoration-2">
          <a routerLinkActive="active" routerLink="home">
            Contacto
          </a>
        </li>
        <li class="no-underline hover:underline decoration-[#FFB344] decoration-2">
          <a routerLinkActive="active" routerLink="home">
            Preguntas frecuentes
          </a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div class="account">
        <button *ngIf="!profile; else elseBlock" [routerLink]="['/login']">Login</button>
        <ng-template #elseBlock>
          <a routerLink="/profile">{{ profile?.email }}</a>
          <button (click)="logout()">Logout</button>
        </ng-template>
      </div>
      <div class="cart">
        <a>
          <img src="../../../../assets/images/logo.png" alt="logo" class="h-4">
        </a>
        <span class="counter">{{ counter }}</span>
      </div>
    </div>
  </div>
</div>
