<main class="form-info flex flex-col justify-center items-center">
  <div class="flex justify-center mb-2 mt-12">
    <p class="text-2xl text-[#656565]">¿Como funciona?</p>
  </div>
  <div class="flex flex-row justify-center items-center">
    <div class="basis-1/12 flex justify-end">
      <p class="text-[#FFB344] text-9xl font-semibold pr-6">1</p>
    </div>
    <div class="text-[#656565] basis-7/12">
      <p class="text-4xl leading-none text-justify">Llena el formulario</p>
      <p class="text-2xl leading-none text-justify">Asi creas un perfil, eso permite que muchas personas vean a tu
        mascota</p>
    </div>
  </div>
  <div class="flex flex-row justify-center items-center">
    <div class="basis-1/12 flex justify-end">
      <p class="text-[#FFB344] text-9xl font-semibold pr-6">2</p>
    </div>
    <div class="text-[#656565] basis-7/12">
      <p class="text-4xl leading-none text-justify">Revisa las aplicaciones</p>
      <p class="text-2xl leading-none text-justify">Te notificaremos cuando una persona este interesada, podras
        seleccionar a los mejores adoptantes</p>
    </div>
  </div>
  <div class="flex flex-row justify-center items-center">
    <div class="basis-1/12 flex justify-end">
      <p class="text-[#FFB344] text-9xl font-semibold pr-6">3</p>
    </div>
    <div class="text-[#656565] basis-7/12">
      <p class="text-4xl leading-none text-justify">Conoce al adoptante</p>
      <p class="text-2xl leading-none text-justify">Podras contactarte y acordar una reunion con el adoptante en caso de
        ser necesario</p>
    </div>
  </div>
  <div class="text-[#656565] m-10">
    <button class="bg-[#00A19D] w-60 h-10 rounded-md text-white" type="button" routerLink="/form">continuar</button>
  </div>
  <div class="flex flex-row justify-around items-center mb-52">
    <div class="flex flex-col basis-3/12 justify-center items-center gap-10">
      <div>
        <img src="../../../../assets/images/Vector3.png" alt="vector1">
      </div>
      <div>
        <p class="text-[#656565] text-4xl font-bold">El proceso de validadcion puede durar hasta 24 h</p>
      </div>
    </div>
    <div class="flex flex-col basis-2/12 justify-center items-center gap-10">
      <div>
        <img src="../../../../assets/images/Vector2.png" alt="vector2">
      </div>
      <div>
        <p class="text-[#656565] text-4xl font-bold">Prohibida la venta/ comercializacion</p>
      </div>
    </div>
  </div>
</main>
