<div class="flex flex-wrap justify-around items-center bg-transparent">

  <div class="max-w-sm rounded overflow-hidden shadow-lg m-7">
    <h2>UX/UI</h2>
    <div class="flex flex-wrap justify-center">
      <img class="h-20 w-20 rounded-full"
        src="https://camo.githubusercontent.com/2d6bb60e83abf9f41a4412bd0dbe90a54799cda11e8a62a84ac6adb0ea4de852/68747470733a2f2f6d656469612e6c6963646e2e636f6d2f646d732f696d6167652f44344530334151456768475a6942394f6b43512f70726f66696c652d646973706c617970686f746f2d736872696e6b5f3830305f3830302f302f313637353738303935313535393f653d3136393136323536303026763d6265746126743d577a354b5f62506e3667794d4f7a6875717a7268303131484e5150716e6e4c6d7575574632504772355145"
        alt="Sunset in the mountains">
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Lisseth Higuita</div>
      <h3>mi red social</h3>
      <p class="text-gray-700 text-base flex">
        <a href="https://www.behance.net/lissethhiguita"><img src="../../../../assets/images/icons8-behance-48.png"
            alt=""></a>
        <a href="https://www.linkedin.com/in/lissethhiguita-disenouxui/?originalSubdomain=co"><img
            src="./assets/images/icons8-linkedin.gif" alt=""></a>
      </p>
      <h3>mi stack para este projecto fue</h3>
      <p class="text-gray-700 text-base flex">
        <img src="./assets/images/icons8-figma.gif" alt="">
        <img src="./assets/images/icons8-adobe-48.png" alt="">
      </p>
    </div>
  </div>
  <div class="max-w-sm rounded overflow-hidden shadow-lg m-7">
    <h2>TESTING</h2>
    <div class="flex flex-wrap justify-center">
      <img class="h-20 w-20 rounded-full"
        src="https://camo.githubusercontent.com/b8bb3dcd42cc714b23897283f0277a45302950808e8e96f38dd56c7eb25f37f3/68747470733a2f2f6d656469612e6c6963646e2e636f6d2f646d732f696d6167652f44344430334151477135335f386739612d55412f70726f66696c652d646973706c617970686f746f2d736872696e6b5f3830305f3830302f302f313636393431313533343933313f653d3136393136323536303026763d6265746126743d62516955436349417a30796641312d6558424848436c5154766665334b31564b53546746714f306b4e7945"
        alt="Sunset in the mountains">
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Diego Salcedo</div>
      <h3>mi red social</h3>
      <p class="text-gray-700 text-base">
        <a href="https://www.linkedin.com/in/diego-salcedo-18908119a/"><img
            src="../../../../assets/images/icons8-linkedin.gif" alt=""></a>
      </p>
      <h3>mi stack para este projecto fue</h3>
      <p class="text-gray-700 text-base flex">
        <img src="./assets/images/icons8-trello-100.png" alt="">
        <img src="./assets/images/Apache_Feather_Logo.svg.png" alt="">
        <img src="../../../../assets/images/Testlink_logo.png" alt="">
      </p>
    </div>
  </div>
  <div class="max-w-sm rounded overflow-hidden shadow-lg m-7">
    <h2>BACKEND</h2>
    <div class="flex flex-wrap justify-around">
      <img class="h-20 w-20 rounded-full"
        src="https://camo.githubusercontent.com/f3bcda8b88e07cf5bf9824fa03a67ec6c9588b03d852273f8e2343b6a4115c2d/68747470733a2f2f6d656469612e6c6963646e2e636f6d2f646d732f696d6167652f4434453033415145486d6f4638437a6e5577672f70726f66696c652d646973706c617970686f746f2d736872696e6b5f3830305f3830302f302f313638353938383037373731343f653d3136393136323536303026763d6265746126743d4e494b627239484252644470574e635949495858566f71447853664372744d554a6d4d4872574647335055"
        alt="Sunset in the mountains">
      <img class="h-20 w-20 rounded-full"
        src="https://camo.githubusercontent.com/c663b73ee662e622554d0780bf369cf84a21cee69cb239a48b8c0c0deddc0b5e/68747470733a2f2f6d656469612e6c6963646e2e636f6d2f646d732f696d6167652f443444303341514857483451377a636c676e772f70726f66696c652d646973706c617970686f746f2d736872696e6b5f3830305f3830302f302f313637383330393534343330373f653d3136393136323536303026763d6265746126743d58567338776d30307a5a2d49712d687a6f4a6869734d5461445a6130617670506a4151335756495a4e7051"
        alt="Sunset in the mountains">
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">Alfonso Almonte / Diego Villan</div>
      <p class="text-gray-700 text-base">
        <strong class="flex ">Alfonzo
          <a href="https://github.com/j3v1t0"><img src="./assets/images/icons8-github.gif" alt=""></a>
          <a href="https://www.linkedin.com/in/alfonso-almonte-a7640485/"><img
              src="../../../../assets/images/icons8-linkedin.gif" alt=""></a>
        </strong>
        <strong class="flex ">Diego
          <a href="https://github.com/Nahuel409"><img src="./assets/images/icons8-github.gif" alt=""></a>
          <a href="https://www.linkedin.com/in/diegovillan/"><img src="../../../../assets/images/icons8-linkedin.gif"
              alt=""></a>
        </strong>
      </p>
      <h3>mi stack para este projecto fue</h3>
      <p class="text-gray-700 text-base flex">
        <img src="./assets/images/icons8-java.gif" alt="">
        <img src="./assets/images/spring-boot.svg" alt="">
        <img src="./assets/images/postgresql-48.ico" alt="">
        <img src="./assets/images/icons8-maven-ios-50.png" alt="">
        <img width="48" height="48" src="https://img.icons8.com/dusk/64/postman-api.png" alt="postman-api" />
        <img src="./assets/images/icons8-swagger-48.png" alt="">
        <img src="./assets/images/icons8-high-speed-train-50.png" alt="">
      </p>
    </div>
  </div>
  <div class="max-w-sm rounded overflow-hidden shadow-lg m-7">
    <h2>FRONTEND</h2>
    <div class="flex flex-wrap justify-around">
      <img class="h-20 w-20 rounded-full" src="https://avatars.githubusercontent.com/u/91088016?v=4"
        alt="Sunset in the mountains">
    </div>
    <div class="px-6 py-4">
      <div class="font-bold text-xl mb-2">jhon pulido</div>
      <p class="text-gray-700 text-base">
        <strong class="flex ">
          <a href="https://github.com/jhonpulido1990"><img src="./assets/images/icons8-github.gif" alt=""></a>
          <a href="https://www.linkedin.com/in/jhon-jairo-pulido-462a9066/"><img src="../../../../assets/images/icons8-linkedin.gif"
              alt=""></a>
        </strong>
      </p>
      <h3>mi stack para este projecto fue</h3>
      <p class="text-gray-700 text-base flex">
        <img src="./assets/images/icons8-code.gif" alt="">
        <img src="./assets/images/icons8-typescript-48.png" alt="">
        <img src="./assets/images/icons8-tailwindcss-48.png" alt="">
        <img src="./assets/images/icons8-angular-48.png" alt="">
        <img src="./assets/images/icons8-firebase-48.png" alt="">
      </p>
    </div>
  </div>
</div>
