<a [routerLink]="['/pet', mascota.id]">
  <app-img *ngIf="mascota.fotos.length > 0" [img]="mascota.fotos[0]"></app-img>
</a>
<h2 class="title">{{ mascota.nombre }}</h2>
<p>{{ mascota.especie }}</p>
<!-- <button (click)="onShowDetail()">Ver detalle</button> -->
<a routerLink="." [queryParams]="{ pet: mascota.id }" class="bg-cyan-500 shadow-lg shadow-cyan-500/50 m-3 rounded-sm h-3">Ver detalle</a>
<button (click)="onAddToCart()" class="bg-cyan-500 shadow-lg shadow-cyan-500/50 m-3 rounded-sm">Add cart</button>
